body {
  background-color: rgb(145, 89, 57);
}

h1 {
  color: rgb(0, 52, 44);
  margin: 20px;
}

h2 {
  color: rgb(153, 198, 2);
  margin: 200px;
}

.parent {
  position:relative;
  width:75%;
  /* margin: 20%; */
}

.box1 {
  position:absolute;
  background-color: rgb(17, 18, 18);
  margin-left: 10%;
  margin-top: 0%;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(172, 169, 157);
}

.box2 {
  position:absolute;
  background-color: rgb(69, 69, 69);
  margin-left: 30%;
  margin-top: 20%;
  padding-left: 20px;
  padding-right: 20px;
}

.box3 {
  position:absolute;
  background-color: rgb(101, 101, 101);
  margin-left: 40%;
  margin-top: 40%;
  padding-left: 20px;
  padding-right: 20px;
}

.box4 {
  position:absolute;
  background-color: rgb(26, 29, 29);
  margin-left: 60%;
  margin-top: 60%;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(195, 192, 179);
}

.box5 {
  position:absolute;
  background-color: rgb(8, 14, 13);
  margin-left: 70%;
  margin-top: 80%;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(231, 222, 192);
}

/* padding
margin
border
height, width
position
top, right, bottom, left
display
float
color */

/* p
br
&nbsp
div
h1, h2, h3, h4, h5, h6
strong
em
big
small
ol
ul
li */
